<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>spinner_1</string>
	<string>spinner_2</string>
	<string>spinner_3</string>
	<string>spinner_4</string>
	<string>spinner_5</string>
	<string>spinner_6</string>
	<string>spinner_7</string>
	<string>spinner_8</string>
	<string>spinner_9</string>
	<string>spinner_10</string>
	<string>spinner_11</string>
	<string>spinner_12</string>
	<string>spinner_13</string>
	<string>spinner_14</string>
	<string>spinner_15</string>
	<string>spinner_16</string>
	<string>spinner_17</string>
	<string>spinner_18</string>
	<string>spinner_19</string>
	<string>spinner_20</string>
	<string>spinner_21</string>
	<string>spinner_22</string>
	<string>spinner_23</string>
	<string>spinner_24</string>
	<string>spinner_25</string>
	<string>spinner_26</string>
	<string>spinner_27</string>
	<string>spinner_28</string>
	<string>spinner_29</string>
	<string>spinner_30</string>
</array>
</plist>
