<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>spinner_glow_1</string>
	<string>spinner_glow_2</string>
	<string>spinner_glow_3</string>
	<string>spinner_glow_4</string>
	<string>spinner_glow_5</string>
	<string>spinner_glow_6</string>
	<string>spinner_glow_7</string>
	<string>spinner_glow_8</string>
	<string>spinner_glow_9</string>
	<string>spinner_glow_10</string>
	<string>spinner_glow_11</string>
	<string>spinner_glow_12</string>
	<string>spinner_glow_13</string>
	<string>spinner_glow_14</string>
	<string>spinner_glow_15</string>
	<string>spinner_glow_16</string>
	<string>spinner_glow_17</string>
	<string>spinner_glow_18</string>
	<string>spinner_glow_19</string>
	<string>spinner_glow_20</string>
	<string>spinner_glow_21</string>
	<string>spinner_glow_22</string>
	<string>spinner_glow_23</string>
	<string>spinner_glow_24</string>
	<string>spinner_glow_25</string>
	<string>spinner_glow_26</string>
	<string>spinner_glow_27</string>
	<string>spinner_glow_28</string>
	<string>spinner_glow_29</string>
	<string>spinner_glow_30</string>
	<string>spinner_glow_31</string>
	<string>spinner_glow_32</string>
	<string>spinner_glow_33</string>
	<string>spinner_u11_1</string>
	<string>spinner_u11_2</string>
	<string>spinner_u11_3</string>
	<string>spinner_u11_4</string>
	<string>spinner_u11_5</string>
	<string>spinner_u11_6</string>
	<string>spinner_u11_7</string>
	<string>spinner_u11_8</string>
	<string>spinner_u11_9</string>
	<string>spinner_u11_10</string>
	<string>spinner_u12_1</string>
	<string>spinner_u12_2</string>
	<string>spinner_u12_3</string>
	<string>spinner_u12_4</string>
	<string>spinner_u12_5</string>
	<string>spinner_u12_6</string>
	<string>spinner_u12_7</string>
	<string>spinner_u12_8</string>
	<string>spinner_u12_9</string>
	<string>spinner_u12_10</string>
</array>
</plist>
